@charset "utf-8";
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
  }
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }

/*ヘッダー*/
header{
    background: #fff;
    padding: 15px 0;
}

header .log{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.log-color{
    color: #777;
}

.contact{
    color: #ffffff;
    background-color: #6ba7eb;
    font-size: 12px;
    padding: 12px 14px;
}
.contact:hover{
    background: #333;
    transition: 0.3s;
}
.sp-hamburger{
    display: none;
}

/*ヘッダー*/

.keyvisual{
    background-image:url(../img/keyvisual/keyvisual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 400px 0;
}

h1{
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    text-align: center;
    margin-bottom: 30px;
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
h3{
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.title3-1{
    margin: 20px 0 35px 0;
}
.title3-2,.title3-3{
    text-align: center;
    margin-bottom: 50px;
}


/*WE ARE SKILLS*/
.plan{
    padding: 50px 0 70px;
}
.plan-inner ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 100px;
}
.plan-inner li{
    width: 300px;
    height: 300px;
}
.skill-logo a{
    display: block;
    height: 100%;
}
.skill-logo img{
    width: 300px;
    height: 300px;  
    opacity: 0.7;
    transition: 0.7s;
}
.skill-logo img:hover{
    opacity: 1.0;
}

/*WE ARE AKILLS*/


/*WORK*/
.work{
    background: #e3f2fd;
    padding-top: 50PX;  
}
.work-layout{
    display: flex;
    justify-content: space-evenly;
}
.work-logo img{
    width: 250PX;
    text-align: center;
}
.work-logo{
    width: 40%;
}
.work-area{
    width: 60%;
    text-align: center;
}
.work-text{
    font-size: 15PX;
    line-height: 18PX;
    word-break: break-all;
}
/*WORK*/


/*テーブル*/
.selectplan{
    padding: 50px 0 50px;
    background: #d0dfea;
}

.table{
    table-layout: fixed;
    width: 100%;
}

thead th{
    font-size: 16px;
    line-height: 26px;
    background: #6ba7eb;
}
tr{
   background: #e0efff;
   text-align: center;
}
tr:nth-child(even){
    background: #f9f9f9; 
}

th,td{
    border-left: 2px solid #fff;
    padding: 10px;
}
th:first-child{
    border-left: none;
}
/*テーブル*/

/*sns*/
.sns-area{
    background: #e3f2fd;
    padding: 200px 0;
    text-align: center;
}
.sns ul{
    display: flex;
    justify-content: center;
}
.sns a{
    display: block;
    height: 90px;
}
.sns-color{
    color: #8c8c8c;
    overflow: hidden;
    font-size: 40px;
    width: 185px;
    padding: 25px 0;
    transition: 0.5s;
}
.sns-color:hover{
    opacity: 0.5s;
    background: #fff;
}
/*sns*/

/*footer*/
footer{
    background: #cfd8dc;
}
footer .footer-text{    
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: right;
}
.footer-text{
    padding: 20px 0 25px 0;
}
/*footer*/


@media screen and (max-width:767px) {
    .wrapper{
        max-width: 767px;
        width: 97%;
        margin: auto;
    }
    .inner{
        max-width: 767px;
        width: 97%;
      }
/*ハンバーガーメニュー*/
    .contact{
        display: none;
    }
    header .log{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    header .sp-hamburger{
        display: flex;
    }
    .sp-hamburger{
        width: 60px;
        height: 50px;
        position: relative;
        border: 1px solid #cfd8dc;
        border-radius: 5px;
        cursor: pointer;
    }
    .sp-hamburger span{
        display: inline-block;
        position: absolute;
        width: 50%;
        height: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #cfd8dc;
    }
    .sp-hamburger span:nth-of-type(1){
        top: 13px;
    }
    .sp-hamburger span:nth-of-type(2){
        top: 25px;
    }
    .sp-hamburger span:nth-of-type(3){
        top: 37px;
    }
/*ハンバーガーメニュー*/
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .keyvisual{
        padding: 200px 0;
    }
  .work-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-area,.work-logo{
    max-width: 100%;
    width: auto;
  }
  .work-text{
    padding-bottom: 50px;
  }

  th{
    font-size: 14px;
    line-height: 22px;
  }
  td{
    font-size: 12px;
  }

  .plan-inner ul{
    flex-direction: column;
    align-items: center;
    row-gap: normal;
  }
  .skill-logo:nth-child(3n+1){
    padding-top: 80px;
  }
  .skill-logo:first-child{
    padding-top: 0;
  }

  .sns-area{
    padding: 50px 0;
  }
  .sns ul{
    flex-direction: column;
  }
  .sns a{
    height: auto;
  }
  .sns-color{
    width: 97%;
    padding: 50px 15px;
  }
  .sns-color:hover{
    width: 97%;
}
}

@media screen and (max-width:1199px){
    .wrapper{
        max-width: 1199px;
        width: 97%;
        margin: auto;
    }
    .inner{
        max-width: 1199px;
        width: 97%;
      }
      
    .keyvisual{
        padding: 250px 0;
    }

    .work-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-area,.work-logo{
    max-width: 100%;
    width: auto;
  }
  .work-text{
    padding-bottom: 50px;
  }
  .plan-inner ul{
    flex-direction: column;
    align-items: center;
    row-gap: normal;
  }
  .skill-logo:nth-child(3n+1){
    padding-top: 80px;
  }
  .skill-logo:first-child{
    padding-top: 0;
  }
}
